<p>Inputed text: <%= @text %></p>
<h5>It would take you <%= @word_count/4.583 %> sec to read this text.</h5>
<h6>Most frequent words: <%= @most_frequent_words %></h6>
<a href="/"> Back to homepage</a>
